.jumbotron {
    padding-top: 2rem;
}

#about {
    background-color: #e2edff;
}

#portofolio {
    background-color: #e2edff;
}

#contact {
    background-color: #e2edff;
}

.progress {
    background-color: #e2edff;
}